<div class="la-bottom-assoc-learn-inner block-inner">
	<a href="#" class="la-tutor-button icon-feedback icon clickstyle" data-clickstyle-group="tutor-icons"></a>
	<div class="buttongroup {{#if _state._isResultsPrintable}}is-printable{{/if}} {{#if _state._isInReview}}is-inreview{{else}}not-inreview{{/if}} {{#if _state._isPanelResultsShown}}is-resultsshown{{else}}not-resultsshown{{/if}} {{#if _state._isReviewComplete}}is-reviewed{{else}}not-reviewed{{/if}} {{#if _state._isPanelCertificateShown}}is-certificateshown{{else}}not-certificateshown{{/if}}">

		{{#if _state._isPanelCertificateShown}}


			<button id="la-print" class="buttons-action" tabindex="0"><span class="mobile-only icon icon-printer"></span><span class="not-mobile">{{_learnerassistant._certificateButtons._print}}</span></button>
			<button id="la-end" class="buttons-action not-mobile" tabindex="0"><span class="mobile-only icon icon-cross"></span><span class="not-mobile">{{_learnerassistant._certificateButtons._end}}</span></button>
			{{#if _learnerassistant._canImproveGrade }}
			{{#if _state._isReviewNeeded }}
			<button id="la-improve" class="buttons-action not-mobile" tabindex="0"><span class="mobile-only icon icon-flag"></span><span class="not-mobile">{{_learnerassistant._certificateButtons._improve}}</span></button>
			{{/if}}
			{{/if}}

		{{else}}

			
			<button id="la-finish" class="buttons-action {{#if _state._isReviewInteractionComplete}}button-highlight-border{{/if}}" {{#unless _state._isReviewInteractionComplete}}{{#unless _state._isReviewComplete}}disabled{{/unless}}{{/unless}} tabindex="0"><span class="mobile-only icon icon-tick"></span><span class="not-mobile">{{_learnerassistant._guidedLearningButtons._finish}}</span></button>
			{{#unless _learnerassistant._showAssociatedLearningByBank}}<button id="la-revision" class="buttons-action" tabindex="0"><span class="mobile-only icon icon-triangle-right"></span><span class="not-mobile">{{_learnerassistant._guidedLearningButtons._start}}</span></button>
			<button id="la-continue" class="buttons-action" tabindex="0"><span class="mobile-only icon icon-triangle-right"></span><span class="not-mobile">{{_learnerassistant._guidedLearningButtons._continue}}</span></button>{{/unless}}
			<button id="la-end" class="buttons-action not-mobile" tabindex="0"><span class="mobile-only icon icon-cross"></span><span class="not-mobile">{{_learnerassistant._guidedLearningButtons._end}}</span></button>
			<button id="la-next" class="buttons-action {{#if _state._isReviewInteractionComplete}}button-highlight-border{{/if}}" {{#unless _state._isReviewInteractionComplete}}disabled{{/unless}} tabindex="0"><span class="mobile-only icon icon-triangle-right"></span><span class="not-mobile">{{_learnerassistant._guidedLearningButtons._next}}</span></button>
			<button id="la-print" class="buttons-action" tabindex="0"><span class="mobile-only icon icon-printer"></span><span class="not-mobile">{{_learnerassistant._resultsButtons._print}}</span></button>
			
		{{/if}}
	</div>

	<div class="la-navigation-completion-container {{#if _state._isPanelCertificateShown}}is-certificateshown{{else}}not-certificateshown{{/if}}">
		<div class="la-navigation-completion" role="progressbar">
			<div class="la-navigation-bar" style="width:{{_state._percentageReviewedAssociateLearning}}%">
			</div>
		</div>
	</div>
</div>