<div class="la-results-inner block-inner">
	<div class="la-content-container">
		
		<div class="begin-instructions">
			<div class="begin-instructions-inner">
				<h4 class="title">{{{_learnerassistant._revision.title}}}</h4>
				<div class="body"><span class="score">{{{_learnerassistant._revision.youScored}}} {{{_state._assessmentScoreAsPercent}}}</span>{{{_learnerassistant._revision.body}}}</div>
			</div>
		</div>
	
		<div class="la-content">
			<div class="la-content-header-row row clearfix not-mobile">
				
				<div id="status" class="col">
					<div class="col-inner">
						<span class="icon icon-flag"></span><span>
						<div class="cell col-header"><div class="cell-inner content-header-text">{{{_learnerassistant._results._status}}}</span></div></div>
					</div>
				</div>
				
				<div id="question" class="col">				
					<div class="col-inner">
						<span class="icon icon-question"></span>
						<div class="cell col-header"><div class="cell-inner content-header-text"><span>{{{_learnerassistant._results._bank}}}</span></div></div>
					</div>
				</div>
				
				<div id="tutorialcontent" class="col">
					<span class="icon icon-eye"></span>
					<div class="col-inner">
						<div class="cell col-header"><div class="cell-inner content-header-text"><span>{{{_learnerassistant._results._associateLearnings}}}</span></div></div>
					</div>
				</div>
				
			</div>
			{{#with _associatedlearning}}
				{{#each _banks }}
					<div class="la-content-bank-row row clearfix quizbank {{#if _isReviewComplete}}reviewed{{else}}not-reviewed{{/if}} {{#if _isPassed}}passed{{else}}not-passed{{/if}}" quizbankid="{{_quizBankID}}">
						<div id="status" class="col">
							<div class="col-inner">
								<div class="cell"><div class="cell-inner">{{#if _isReviewComplete}}{{#if _isPassed}}<span class="mobile-only icon icon-tick"></span><span class="icon icon-tick not-mobile"></span><span>{{learnerAssistantSettings '_learnerassistant._results._isPassed'}}</span>{{else}}<span class="mobile-only icon icon-book"></span><span class="icon icon-book not-mobile"></span><span>{{learnerAssistantSettings '_learnerassistant._results._reviewed'}}</span>{{/if}}{{else}}<span class="mobile-only icon icon-flag"></span><span class="icon icon-flag not-mobile"></span><span>{{learnerAssistantSettings '_learnerassistant._results._toReview'}}</span>{{/if}}</div></div>
							</div>
						</div>
						<div id="question" class="col">
							<div class="col-inner">
								<div class="cell"><div class="cell-inner"><span class="mobile-only icon icon-question"></span>{{title}}</div></div>
							</div>
						</div>
						<div id="tutorialcontent" class="col">
							<div class="col-inner">
								<div class="cell"><div class="cell-inner"><span class="mobile-only icon icon-eye"></span>{{{_countReviewedAssociatedLearning}}}/{{{_countTotalAssociatedLearning}}} reviewed</div></div>
							</div>
						</div>
					</div>
				{{else}}
					<div class="la-content-bank-row row clearfix">
						<div id="status" class="col">
							<div class="col-inner">
								<div class="not-mobile cell"><div class="cell-inner"><span class="mobile-only icon icon-flag"></span>-</div></div>
							</div>
						</div>
						<div id="question" class="col">
							<div class="col-inner">
								<div class="cell"><div class="cell-inner"><span class="icon icon-question"></span>-</div></div>
							</div>
						</div>
						<div id="tutorialcontent" class="col">
							<div class="col-inner">
								<div class="cell"><div class="cell-inner"><span class="icon icon-eye"></span>-</div></div>
							</div>
						</div>
					</div>
				{{/each}}
			{{/with}}
		</div>
	</div>
</div>